@charset "UTF-8";
.bg-dark {
    background-color: #4C4FE7 !important;
}
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Russo One', sans-serif;
    color: #FFFFFF !important;
    font-style: oblique;
}
.navbar-nav .nav-item {
    border: 1px solid #FFFFFF;
    background-image: -webkit-linear-gradient(270deg,rgba(227,228,232,1.00) 0%,rgba(51,198,255,1.00) 46.65%,rgba(91,207,251,1.00) 98.96%,rgba(87,119,202,1.00) 98.96%,rgba(88,103,189,1.00) 98.96%,rgba(210,237,244,1.00) 98.96%,rgba(100,210,251,1.00) 98.96%,rgba(60,111,185,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(227,228,232,1.00) 0%,rgba(51,198,255,1.00) 46.65%,rgba(91,207,251,1.00) 98.96%,rgba(87,119,202,1.00) 98.96%,rgba(88,103,189,1.00) 98.96%,rgba(210,237,244,1.00) 98.96%,rgba(100,210,251,1.00) 98.96%,rgba(60,111,185,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(227,228,232,1.00) 0%,rgba(51,198,255,1.00) 46.65%,rgba(91,207,251,1.00) 98.96%,rgba(87,119,202,1.00) 98.96%,rgba(88,103,189,1.00) 98.96%,rgba(210,237,244,1.00) 98.96%,rgba(100,210,251,1.00) 98.96%,rgba(60,111,185,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(227,228,232,1.00) 0%,rgba(51,198,255,1.00) 46.65%,rgba(91,207,251,1.00) 98.96%,rgba(87,119,202,1.00) 98.96%,rgba(88,103,189,1.00) 98.96%,rgba(210,237,244,1.00) 98.96%,rgba(100,210,251,1.00) 98.96%,rgba(60,111,185,1.00) 100%);
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 108px;
	color: #FFFFFF;
}
header h2 { 
    font: 350%/1em Russo One;
    color: #FFFF;
    text-shadow: 0px 5px 11.05px rgba(0,0,0,0.52);
    text-align: center;
    margin-top: 1em;
    letter-spacing: 0.12em;
	
}
header p {
    line-height: 1em;
    font-weight: 700;
    font-size: 150%;
    font-family: 'Russo One', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 3px 5.95px rgba(122,205,215,0.80);
    text-align: center;
    letter-spacing: 0.4em;
    font-style: normal;
}
header {
    background-image: url("images/pngtree-blue-abstract-technology-wallpaper-banner-background-image_520005.jpg");
    background-position: center center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    height: 212px;
    background-color: #4C4FE7;
	
}
nav .container {
    padding-bottom: 10px;
    border-bottom: 2px solid #4C4FE7;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
}
footer {
	font: 100%/1em usso One;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #4C4FE7;
}
body {
}
a:links {
    color: #C890F0 !important;
    text-shadow: 0px 0px #DDBCF5;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
a:hover {
    color: #41D0FF !important;
    text-decoration: none;
}
body {
}
